@media (max-width: 1700px) {
    .test {
        &__sidebar {
            padding: 23px 28px 76px;
        }

        &__subdash {
            margin: 39px 0 10px 9px;
        }

        &__tab {
            margin-top: 7px;
            height: 42px;
        }
    }

    .hello {
        padding: 25px 0 0 71px;

        &__all {
            margin-top: 35px;
            width: 850px;
        }

        &__custo {
            padding: 18px 53px 28px 38px;
        }

        &__nav {
            padding: 0 38px 10px 38px;
        }

        &__item {
            padding: 10px 44px 9px 38px;
        }

        &__line-mini {
            width: 90%;
        }

        &__numbering {
            padding: 18px 40px 13px 38px;
        }
    }
}

@media (max-width: 1439px) {
    .hello {
        &__all {
            width: 850px;
        }
    }
}

@media (max-width: 1279px) {
    .test {
        &__sidebar {
            width: 250px;
        }

        &__dash {
            width: 100%;
        }

        &__title {
            font-size: 22px;
        }

        &__subdash {
            width: 100px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__tab {
            width: 194px;
            font-size: 12px;
        }

        &__icons {
            margin: 0 12px 0 9px;
        }
    }

    .hello {
        margin-left: 250px;
        padding: 28px 0 0 50px;

        h2 {
            font-size: 20px;
        }

        &__all {
            width: 720px;
        }

        &__custo {
            padding: 18px 53px 28px 28px;
        }

        &__members {
            &-title {
                font-size: 18px;
            }

            &-subtitle {
                font-size: 10px;
            }
        }

        &__nav {
            padding: 0 28px 10px 28px;
        }

        &__link {
            width: 115px;
            font-size: 10px;
        }

        &__list {
            margin-left: 25px;
        }

        &__list-list {
            margin-left: 45px;
        }

        &__item {
            padding: 10px 34px 9px 28px;
        }

        &__line-mini {
            width: 91%;
            margin: 0 34px 0 28px;
        }

        &__numbering {
            padding: 13px 35px 13px 28px;
        }

        &__text {
            font-size: 12px;
        }

        .cdp_i {
            height: 22px;
            width: 24px;
            font-size: 10px;
            padding: 6px;
        }
    }
}

@media (max-width: 1023px) {
    .test {
        &__sidebar {
            width: 230px;
            padding: 23px 18px 76px;
        }
    }

    .hello {
        margin-left: 230px;
        padding: 28px 0 0 30px;
    }
}

@media (max-width: 991px) {
    .test {
        width: 100%;
        height: auto;
        position: static;

        &__sidebar {
            height: 210px;
            width: 100%;
            position: static;
            padding: 26px 10px 16px;
        }

        &__wrapper {
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        &__dash {
            width: 160px;
            position: absolute;
            top: 81px;
            left: -55px;
            transform: rotate(90deg);
        }

        &__title {
            font-size: 18px;
        }

        &__descr {
            padding: 7px 0 0;
        }

        &__subdash {
            width: 94px;
            transform: rotate(90deg);
            position: absolute;
            top: 25px;
            left: 40px;
            align-items: baseline
        }

        &__subtitle {
            font-size: 12px;
        }

        &__tabs {
            flex-direction: column-reverse;
            justify-content: space-between;
            position: absolute;
            top: -8px;
            left: 170px;
            transform: rotate(90deg);
        }

        &__tab {
            width: 160px;
            height: 40px;
            font-size: 12px;
            margin-top: 5px;
        }

        &__icons {
            margin: 0 5px 0 5px;
        }

        &__evano {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            align-items: center;
            justify-content: end;
        }

        &__text {
            display: flex;
            flex-direction: column-reverse;
            transform: rotate(90deg);
            margin-top: 45px;
        }
    }

    .hello {
        position: fixed;
        width: 100%;
        height: auto;
        margin-left: 0;
        padding: 30px 10px 10px;

        h2 {
            margin-left: 18px;
        }

        &__all {
            margin-top: 35px;
            width: 100%;
            height: 100%;
            box-shadow: 2px 4px 10px 4px rgba(226, 236, 249, 0.50);
        }

        &__custo {
            padding: 18px 23px 28px 15px;
        }

        &__nav {
            padding: 0 8px 10px 15px;
        }

        &__list {
            margin-left: 30px;
        }

        &__link {
            font-size: 12px;
        }

        &__item {
            padding: 10px 8px 10px 15px;
        }

        &__line-mini {
            width: 97%;
            margin: 0 8px;
        }
    }
}

@media (max-width: 767px) {
    .hello {
        display: block;
        position: static;

        &__blog {
            display: none;
        }

        &__all {
            min-height: 0;
        }

        &__ul {
            flex-direction: column;
        }

        &__link {
            width: 135px;
        }

        &__list {
            margin-left: 0;
        }

        &__item {
            padding: 0;
        }

        &__button {
            width: 100px;
            margin: 3px auto 0;
        }

        &__line-mini {
            width: 100%;
            margin: 0 auto;
        }

        &__numbering {
            padding: 32px 8px 41px;
        }

        &__text {
            font-size: 12px;
        }

        .cdp_i {
            height: 20px;
            width: 22px;
            font-size: 10px;
            margin: 0 3px 4px;
            padding: 5px;
        }

        .carousel {
            display: flex;
            flex-direction: column;
        }

        .slick-dots {
            margin: 10px auto auto;
            padding-left: 0;
            display: flex;
            justify-content: space-between;


            li {
                display: block;

                button {
                    font-size: 10px;
                    font-weight: 500;
                    margin: 0 3px 6px;
                    height: 20px;
                    min-width: 21px;
                    border-radius: 4px;
                    border: 1px solid #EEE;
                    background: #F5F5F5;
                    padding: 0;
                    outline: none;

                }
            }

            .slick-active button {
                background: #5932EA;
                color: #fff;
            }

        }
    }
}

@media (max-width: 575px) {
    .test {
        &__sidebar {
            height: 230px;
        }

        &__subdash {
            top: 82px;
            left: 13px;
        }

        &__tabs {
            top: 34px;
            left: 135px;
        }

        &__tab {
            width: 130px;
        }

        &__evano {
            flex-direction: row-reverse;
        }

        &__text {
            display: block;
            transform: none;
            margin-top: 0;
        }
    }

    .hello {

        h2 {
            text-align: center;
        }

        &__custo {
            padding: 30px 33px;
            flex-direction: column;
        }

        &__input {
            margin-top: 10px;
        }

        &__members {
            text-align: center;
        }

        &__svg {
            top: 9px;
        }

        &__numbering {
            height: 105px;
            flex-direction: column;
            padding: 23px 8px 33px;
        }
    }
}